//output:../../../../build/dosen/setting/index.html
extends ../_master.jade

block title
  | Dashboard | Dosen Setting
block main_menu
  include ../partial/menu.jade
block content
  .box.box-primary.box-solid
    .box-header
      h4 Setting
    .box-body
      form#form-profil
        .row
          .form-group
            .col-sm-2 Username*
            .col-sm-4
              input.form-control
        br
        .row
          .form-group
            .col-sm-2 Password Lama*
            .col-sm-4
              input(type="password").form-control
        br
        .row
          .form-group
            .col-sm-2 Password Baru*
            .col-sm-4
              input(type="password").form-control
        br    
        .row
          .form-group
            .col-sm-2 Ulangi Password Baru*
            .col-sm-4
              input(type="password").form-control
        br
        .col-sm-12
          .row
            button.btn.btn-sm.btn-primary Simpan Perubahan
            button.btn.btn-sm.btn-default Batal
      
block script
  script(src="../../../assets/js/select2.min.js")
  script(type="text/javascript").
    $('select').select2({width : '100%'});
    $('#menu-setting').addClass('active').parent().parent().addClass('active');
    $(document).ready(function(){
      $('#form-dekan').submit(function(e){
          e.preventDefault();
          $('#dekan-container').removeClass('hidden');
      });
    });
