ul.sidebar-menu
  li#menu-dashboard
    a(href="/build/admin/dashboard.html")
      i.fa.fa-dashboard
      span Dashboard
  li.treeview
    a(href="#") 
      i.fa.fa-th
      span Hitung IKD
      i.fa.fa-angle-left.pull-right
    ul.treeview-menu
      li#menu-k1
        a(href="/build/admin/ikd/k1.html")
          i.fa.fa-circle
          span K1
      li#menu-k2
        a(href="/build/admin/ikd/k2.html")
          i.fa.fa-circle
          span K2
      li#menu-k3
        a(href="/build/admin/ikd/k3.html")
          i.fa.fa-circle
          span K3
  li#menu-profile
    a(href="/build/admin/profile")
      i.fa.fa-user
      span Profile
  li.treeview
    a(href="#")
      i.fa.fa-cog
      span Setting
      i.fa.fa-angle-left.pull-right
    ul.treeview-menu
      li.treeview
        a(href="#")
          i.fa.fa-circle
          span Pengaturan Kaprodi
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          li#menu-pkti
            a(href="/build/admin/setting/pk-ti.html")
              i.fa.fa-circle
              span Teknik Informatika
          li#menu-pktin
            a(href="/build/admin/setting/pk-tin.html")
              i.fa.fa-circle
              span Teknik Industri
          li#menu-pktk
            a(href="/build/admin/setting/pk-tk.html")
              i.fa.fa-circle
              span Teknik Kimia
          li#menu-pkte
            a(href="/build/admin/setting/pk-te.html")
              i.fa.fa-circle
              span Teknik Elektro
      li#menu-pdk
        a(href="/build/admin/setting/pd.html")
          i.fa.fa-circle
          span Pengaturan Dekan
      li#menu-sync
        a(href="/build/admin/setting/sync.html")
          i.fa.fa-circle
          span Sinkronisasi
      li#menu-pp
        a(href="/build/admin/setting/pp.html")
          i.fa.fa-circle
          span Pengaturan Prodi
      li#menu-pds
        a(href="/build/admin/setting/pds.html")
          i.fa.fa-circle
          span Pengaturan Dosen
  li.treeview
    a(href="#")
      i.fa.fa-wrench
      span Admin Setting
      i.fa.fa-angle-left.pull-right
    ul.treeview-menu
      li#menu-tambah-admin 
        a(href="/build/admin/admin-setting/tambah-admin.html")
          i.fa.fa-circle
          span Tambah Admin
      li.treeview
        a(href="#")
          i.fa.fa-circle
          span Kelola Admin
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          li#menu-kati
            a(href="/build/admin/admin-setting/ka-ti.html")
              i.fa.fa-circle
              span Teknik Informatika
          li#menu-katin
            a(href="/build/admin/admin-setting/ka-tin.html")
              i.fa.fa-circle
              span Teknik Industri
          li#menu-katk
            a(href="/build/admin/admin-setting/ka-tk.html")
              i.fa.fa-circle
              span Teknik Kimia
          li#menu-kate
            a(href="/build/admin/admin-setting/ka-te.html")
              i.fa.fa-circle
              span Teknik Elektro
    li#menu-rekap
      a(href="/build/admin/rekap")
        i.fa.fa-tasks
        span Rekap Input
          
      
