ul.sidebar-menu
  li#menu-dashboard
    a(href="/build/dekan/dashboard.html")
      i.fa.fa-dashboard
      span Dashboard
  
  li#menu-dekan
    a(href="/build/dekan/dekan")
      i.fa.fa-user
      span Dekan
  li#menu-setting
    a(href="/build/dekan/setting")
      i.fa.fa-cog
      span Setting
  li#menu-rekap
    a(href="/build/dekan/rekap")
      i.fa.fa-tasks
      span Rekap Input
          
      
