//output:../../../../../build/admin/setting/pk-te.html
extends ../../_master.jade

block title
  | Dashboard | Pengaturan kaprodi
block main_menu
  include ../../partial/menu.jade
block content
  .box.box-primary.box-solid
    .box-header
      h4 Teknik Elektro
    .box-body
      form.col-sm-12
        .row
          label.col-sm-3.text-right Kaprodi teknik elektro
          .col-sm-4
            input(value="Nuryono Satya Widodo, S.T., M.Eng.").form-control
        br
        .row
          label.col-sm-3.text-right Username
          .col-sm-4
            input.form-control
        br
        .row
          label.col-sm-3.text-right Password
          .col-sm-4
            input(type="password").form-control  
            
        br
        .row.text-right
          .col-sm-7
            button.btn.btn-primary Atur KaProdi
        
    .box-footer
      span.text-primary >> KAPRODI : 
      label.label.label-primary Nuryono Satya Widodo, S.T., M.Eng.
block script
  script(type="text/javascript").
    $('#menu-pkte').addClass('active').parent().parent().addClass('active').parent().parent().addClass('active');
