//output:../../../../build/admin/setting/pd.html
extends ../_master.jade

block title
  | Dashboard | Pengaturan Dekan
block main_menu
  include ../partial/menu.jade
block content
  .box.box-primary.box-solid
    .box-header
      h4 Pengaturan Dekan
    .box-body
        form.col-sm-12
          .row
            label.col-sm-2.text-right Dekan FTI
            .col-sm-5
              input.form-control
          br
          .row
            label.col-sm-2.text-right Username
            .col-sm-5
              input.form-control
          br
          .row
            label.col-sm-2.text-right Password
            .col-sm-5
              input(type="password").form-control  
              
          br
          .row.text-right
            .col-sm-7
              button.btn.btn-primary Atur Dekan
    
        
    .box-footer
      span.text-primary >> DEKAN : 
      label.label.label-primary efjeifejfijfeijf
block script
  script(type="text/javascript").
    $('#menu-pdk').addClass('active').parent().parent().addClass('active');
