//output:../../../../build/admin/setting/pp.html
extends ../_master.jade

block title
  | Dashboard | Pengaturan Prodi
block main_menu
  include ../partial/menu.jade
block content
  .box.box-primary.box-solid
    .box-header
      h4 Pengaturan Prodi
    .box-body
      .col-sm-12
        .row
          form.clearfix.form-inline.well
            .col-sm-10.col-sm-offset-1
              .form-group
                label.col-sm-2.text-right Prodi
                .col-sm-3
                  input.form-control
              .form-group
                label.col-sm-4.text-right Kode prodi
                .col-sm-3
                  input.form-control 
              .form-group
                .col-sm-5
                  button.btn.btn-primary Tambah prodi
        .row
          table.table.table-hover.table-striped
            thead
              tr
                th #
                th Kode Program Studi
                th Program Studi
                th Aksi
            tbody
              tr
                td 1
                td 18
                td TEKNIK INFORMATIKA
                td 
                  button.btn.btn-xs.btn-danger Hapus
              tr
                td 2
                td 19
                td TEKNIK INDUSTRI
                td 
                  button.btn.btn-xs.btn-danger Hapus
              tr
                td 3
                td 20
                td TEKNIK KIMIA
                td 
                  button.btn.btn-xs.btn-danger Hapus
              tr
                td 4
                td 21
                td TEKNIK ELEKTRO
                td 
                  button.btn.btn-xs.btn-danger Hapus
    .box-footer
      span#tb-info.pull-right Terdaftar <b>4</b> program studi
block script
  script(type="text/javascript").
    $('#menu-pp').addClass('active').parent().parent().addClass('active');
