//output:../../../../build/admin/setting/pds.html
extends ../_master.jade

block title
  | Dashboard | Pengaturan Dosen
block main_menu
  include ../partial/menu.jade
block content
  .box.box-primary.box-solid
    .box-header
      h4 Pengaturan Dosen
    .box-body
        include ../../include/_pds.html 
block script
  script(type="text/javascript").
    $('#menu-pds').addClass('active').parent().parent().addClass('active');
