html
  head
    title
      block app_title
    meta(content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no",name="viewport")
    link(rel="stylesheet",href="../../../assets/css/bootstrap.min.css")
    link(rel="stylesheet",href="../../../assets/css/font-awesome.min.css")
    link(rel="stylesheet",href="../../../assets/css/select2.min.css")
    link(rel="stylesheet",href="../../../assets/css/AdminLTE.min.css")
    link(rel="stylesheet",href="../../../assets/css/skins/_all-skins.min.css")
    block css
  body.hold-transition.sidebar-mini.skin-blue
    .wrapper
      header.main-header
        a(href="#").logo
          span.logo-mini
            b IKD
          span.logo-lg
            b Index Kinerja Dosen
        nav.navbar.navbar-static-top
          a(href="#",data-toggle="offcanvas",role="button",class="sidebar-toggle")
            span.sr-only Toggle navigaton
          .navbar-custom-menu
            ul.nav.navbar-nav
              li.dropdown.user.user-menu
                a.dropdown-toggle(data-toggle="dropdown")
                  img.user-image(src="/assets/img/dummypp.png")
                  span.hidden-xs Sri Handayaningsih, S.T.,M.T.
                ul.dropdown-menu
                  li.user-header
                    img.img-circle(src="/assets/img/dummypp.png")
                    p Sri Handayaningsih, S.T.,M.T.
                      small Dosen
                  li.user-footer
                    .text-center
                      a(href="#")#logout.btn.btn-default.btn-flat Sign Out
                  
                    
      
      aside.main-sidebar
        section.sidebar
          block main_menu
      .content-wrapper
        section.content-header
          block content-caption
          block content-breadcrumb
          
        section.content
          block content
      footer.main-footer
        strong
          | Copyright &copy; Indeks Kinerja Dosen 2016
    block modal

    script(src="../../../assets/js/jQuery-2.2.0.min.js")
    script(src="../../../assets/js/jquery-ui.min.js")
    script
      $.widget.bridge('uibutton',$.ui.button);
    script(src="../../../assets/js/bootstrap.min.js")
    script(src="../../../assets/js/app.min.js")
    script.
      $('#logout').click(function(e){
        e.preventDefault();
        window.location='/build/dosen/';
        
      });
    block script
          
