//output:../../../build/dosen/index.html
html
  head
    title
      | Login Admin
    meta(content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no",name="viewport")
    link(rel="stylesheet",href="../../assets/css/bootstrap.min.css")
    link(rel="stylesheet",href="../../assets/css/font-awesome.min.css")
    link(rel="stylesheet",href="../../assets/css/AdminLTE.min.css")
    link(rel="stylesheet",href="../../assets/css/skins/_all-skins.min.css")
    style.
      body{
        
      }
      .overlay{
        position : absolute;
        top :0;
        z-index:1;
        width:100%;
        height:100vh;
        background : url('/assets/img/bg.jpg');
        background-size:cover;
        -webkit-filter:blur(3px);
      }
      .cont{
        position:relative;
        z-index:2;
        display : flex;
        flex-direction : column;
        justify-content : center;
        height : 100vh;
        align-items : center;
        -webkit-align-items : center;
      }
      
      .cont h2{
        color : #fff;
      }
      
  body
    .overlay
    .cont
      .col-sm-3
        form.form#flogin(action="#")
          h2.text-center
            | Indeks Kinerja Dosen
          .form-group.has-feedback
            input.form-control
            span.fa.fa-user.form-control-feedback
          .form-group.has-feedback
            input.form-control(type="password")
            span.fa.fa-lock.form-control-feedback
          .form-group
            button.btn.btn-primary.btn-block LOGIN
    
    script(src="../../assets/js/jQuery-2.2.0.min.js")
    script(src="../../assets/js/jquery-ui.min.js")
    script
      $.widget.bridge('uibutton',$.ui.button);
    script(src="../../assets/js/bootstrap.min.js")
    script(src="../../assets/js/app.min.js")
    script(type="text/javascript").
      $('#flogin').submit(function(e){
        e.preventDefault();
        window.location = '/build/dosen/dashboard.html';
      });
