//output:../../../build/kaprodi/dashboard.html
extends ./_master.jade

block title
  | Dashboard
block main_menu
  include partial/menu.jade
block content
  include partial/_dashboard.jade
block script
  script(type="text/javascript").
    $('#menu-dashboard').addClass('active');
