//output:../../../../build/admin/profile/index.html
extends ../_master.jade

block title
  | Dashboard | K1
block main_menu
  include ../partial/menu.jade
block content
  .box.box-primary.box-solid
    .box-header
      h4
        | Pengaturan Akun
    .box-body
      .col-sm-12
        form#form-profil
          .row
            .form-group
              .col-sm-2 Username*
              .col-sm-4
                input.form-control
          br
          .row
            .form-group
              .col-sm-2 Password Lama*
              .col-sm-4
                input(type="password").form-control
          br
          .row
            .form-group
              .col-sm-2 Password Baru*
              .col-sm-4
                input(type="password").form-control
          br    
          .row
            .form-group
              .col-sm-2 Ulangi Password Baru*
              .col-sm-4
                input(type="password").form-control      
    .box-footer
      button.btn.btn-sm.btn-primary Simpan Perubahan
      button.btn.btn-sm.btn-default Batal
block script
  script(type="text/javascript").
    $('#menu-profile').addClass('active');
