ul.sidebar-menu
  li#menu-dashboard
    a(href="/build/kaprodi/dashboard.html")
      i.fa.fa-dashboard
      span Dashboard
  
  li#menu-kaprodi
    a(href="/build/kaprodi/kaprodi")
      i.fa.fa-user
      
      span Kaprodi
  li#menu-setting
    a(href="/build/kaprodi/setting")
      i.fa.fa-cog
      
      span Setting
  li#menu-rekap
    a(href="/build/kaprodi/rekap")
      i.fa.fa-tasks
      
      span Rekap
          
      
