//output:../../../../build/admin/admin-setting/tambah-admin.html
extends ../_master.jade

block title
  | Dashboard | Admin setting
block main_menu
  include ../partial/menu.jade
block content
  .box.box-primary.box-solid
    .box-header
      h4 Tambah Admin
    .box-body
      form.col-sm-12.clearfix
        .row
          label.col-sm-2.text-right Kode Pegawai*
          .col-sm-3
            input.form-control
        br
        .row
          label.col-sm-2.text-right Nama*
          .col-sm-3
            input.form-control
            
        br
        .row
          label.col-sm-2.text-right Prodi*
          .col-sm-3
            select
              option Teknik Informatika
              option Teknik Industri
              option Teknik Kimia
              option Teknik Elektro
        br
        .row
          label.col-sm-2.text-right Username*
          .col-sm-3
            input.form-control 
        br
        .row
          label.col-sm-2.text-right Password*
          .col-sm-3
            input(type="password").form-control
            
        br
        .row.text-right
          .col-sm-5
            button.btn.btn-primary Tambah Admin
            button.btn.btn-default(type="reset") Ulangi
block script
  script(src="../../../assets/js/select2.min.js")
  script(type="text/javascript").
    $('select').select2({width : '100%'});
    $('#menu-tambah-admin').addClass('active').parent().parent().addClass('active');
