//output:../../../../../build/admin/admin-setting/ka-ti.html
extends ../../_master.jade

block title
  | Dashboard | Kelola Admin
block main_menu
  include ../../partial/menu.jade
block content
  .box.box-primary.box-solid
    .box-header
      h4 Teknik Informatika
    .box-body
      table.table.table-hover
        thead
          tr
            th #
            th Kode Pegawai
            th Nama
            th Username
            th Aksi
        tbody
          tr
            td 1
            td tu_informatika
            td TU informatika
            td tu_informatika
            td 
              button.btn.btn-xs.btn-danger Hapus
block script
  script(type="text/javascript").
    $('#menu-kati').addClass('active').parent().parent().addClass('active').parent().parent().addClass('active');
