ul.sidebar-menu
  li#menu-dashboard
    a(href="/build/dosen/dashboard.html")
      i.fa.fa-dashboard
      span Dashboard
  
  li#menu-dosen
    a(href="/build/dosen/dosen")
      i.fa.fa-user
      span Dosen
  li#menu-setting
    a(href="/build/dosen/setting")
      i.fa.fa-cog
      span Setting
          
      
