//output:../../../../build/admin/ikd/k1.html
extends ../_master.jade

block title
  | Dashboard | K1
block main_menu
  include ../partial/menu.jade
block content
  .alert.alert-danger
    label.label.label-warning Error
    |  Tidak dapat mengambil data dari SERVER, silahkan tunggu dan ulangi beberapa saat lagi
block script
  script(type="text/javascript").
    $('#menu-k1').addClass('active').parent().parent().addClass('active');
