//output:../../../../build/admin/ikd/k2.html
extends ../_master.jade

block title
  | Dashboard | K2
block css
  link(rel="stylesheet",href="../../../assets/css/bootstrap-datetimepicker.min.css")
block main_menu
  include ../partial/menu.jade
block content
  .box.box-primary
    .box-body
      form#form-k2
        .col-sm-11
          .row.clearfix#ikd-form1
            .col-sm-3
              label.col-sm-3.text-right(style="line-height:33px;padding:0")
                small Prodi &nbsp;
              .col-sm-9(style="padding:0")
                select.form-control
                  <option value="0">Pilih Prodi</option>
                  <option value="1">TEKNIK INFORMATIKA</option>
                  <option value="2">TEKNIK INDUSTRI</option>
                  <option value="3">TEKNIK KIMIA</option>
                  <option value="4">TEKNIK ELEKTRO</option>
            .col-sm-3
              label.col-sm-4.text-right(style="line-height:33px;padding:0")
                small Semester &nbsp;
              .col-sm-8(style="padding:0")
                select.form-control
                  <option value="0">Pilih Semester</option>
                  <option value="20151">GASAL 2015/2016</option>
                  <option value="20142">GENAP 2014/2015</option>
                  <option value="20141">GASAL 2014/2015</option>
                  <option value="20132">GENAP 2013/2014</option>
                  <option value="20131">GASAL 2013/2014</option>
                  <option value="20122">GENAP 2012/2013</option>
                  <option value="20121">GASAL 2012/2013</option>
                  <option value="20112">GENAP 2011/2012</option>
                  <option value="20111">GASAL 2011/2012</option>
                  <option value="20102">GENAP 2010/2011</option>
                  <option value="20101">GASAL 2010/2011</option>
                  <option value="20092">GENAP 2009/2010</option>
                  <option value="20091">GASAL 2009/2010</option>
                  <option value="20082">GENAP 2008/2009</option>
                  <option value="20081">GASAL 2008/2009</option>
                  <option value="20072">GENAP 2007/2008</option>
                  <option value="20071">GASAL 2007/2008</option>
                  <option value="20062">GENAP 2006/2007</option>
                  <option value="20061">GASAL 2006/2007</option>
                  <option value="20052">GENAP 2005/2006</option>
                  <option value="20051">GASAL 2005/2006</option>
                  <option value="20042">GENAP 2004/2005</option>
                  <option value="20041">GASAL 2004/2005</option>
                  <option value="20032">GENAP 2003/2004</option>
                  <option value="20031">GASAL 2003/2004</option>
                  <option value="20022">GENAP 2002/2003</option>
                  <option value="20021">GASAL 2002/2003</option>
                  <option value="20012">GENAP 2001/2002</option>
                  <option value="20011">GASAL 2001/2002</option>
                  <option value="20002">GENAP 2000/2001</option>
                  <option value="20001">GASAL 2000/2001</option>
                  <option value="19992">GENAP 1999/2000</option>
                  <option value="19991">GASAL 1999/2000</option>
                  <option value="19982">GENAP 1998/1999</option>
                  <option value="19981">GASAL 1998/1999</option>
            .col-sm-3
              label.col-sm-4.text-right(style="line-height:33px;padding:0")
                small Dosen &nbsp;
              .col-sm-8(style="padding:0")
                select.form-control
                  <option value="0">Pilih Dosen</option>
                  <option value="142">ABDUL FADLIL, DR., M.T.</option>
                  <option value="293">ADHI PRAHARA, S.SI., M.CS.</option>
                  <option value="137">ALI TARMUJI, S.T., M.CS.</option>
                  <option value="255">ANDRI PRANOLO, S.KOM., M.CS.</option>
                  <option value="241">ANOM WAHYU PRASETYOJATI, S.H., M.H.</option>
                  <option value="125">ARDI PUJIYANTA, IR., M.T.</option>
                  <option value="122">ARDIANSYAH, S.T., M.CS.</option>
                  <option value="211">ARFIANI NUR KHUSNA, S.T.</option>
                  <option value="294">DEWI PRAMUDI ISMI, S.T., M.COMPSC</option>
                  <option value="121">DEWI SOYUSIOWATY, S.T., M.T.</option>
                  <option value="128">DR. IMAM RIADI, M.KOM.</option>
                  <option value="251">EKO ARIBOWO, S.T., M.KOM.</option>
                  <option value="252">FIFTIN NOVIYANTO, S.T., M.CS.</option>
                  <option value="292">HANIF CAHYO AK, S.AG., M.A.</option>
                  <option value="136">HERMAN YULIANSYAH, S.T., M.ENG.</option>
                  <option value="290">IIS SUWARTINI, S.PD., M.PD.</option>
                  <option value="208">LISNA ZAHROTUN, S.T.</option>
                  <option value="253">MARZUKI SIMATUPANG, DRS, M.AG</option>
                  <option value="127">MUHAMMAD AZIS, S.T., M.SC.</option>
                  <option value="209">MURIEN NUGRAHENI, S.T.</option>
                  <option value="118">MURINTO, S.SI., M.KOM.</option>
                  <option value="141">MUSHLIHUDIN, S.T., M.T.</option>
                  <option value="243">NUR ROCHMAH DYAH PA, S.T., M.KOM.</option>
                  <option value="295">PARJIMAN, DRS., M.AG.</option>
                  <option value="244">RUDI YUNIAWATI, S.PSI., M.PSI.</option>
                  <option value="235">RUSYDI UMAR, M.T., PH.D.</option>
                  <option value="135">SRI HANDAYANINGSIH, S.T., M.T.</option>
                  <option value="130">SRI WINIARTI, S.T., M.CS.</option>
                  <option value="123">TAUFIQ ISMAIL, S.T., M.CS.</option>
                  <option value="126">TEDY SETIADI, DRS., M.T.</option>
                  <option value="291">TRISNA SUKMAYADI, S.PD., M.PD.</option>
                  <option value="132">WAHYU PUJIYONO, DRS., M. KOM.</option>
                  <option value="256">YANA HENDRIANA, S.T., M.ENG.</option>
                  <option value="261">YOSI WULANDARI, S.PD,M.PD.</option>
            .col-sm-3
              label.col-sm-4.text-right(style="line-height:33px;padding:0;")
                small Matakuliah &nbsp;
              .col-sm-8(style="padding:0")
                select.form-control
                  <option value="0">Pilih Matakuliah</option>
                  <option value="180000258">PENGENALAN POLA</option>
                  <option value="220000330">PRAK. SINYAL DAN SISTEM</option>
                  <option value="220000333">SINYAL DAN SISTEM</option>
                  <option value="220000389">METODOLOGI PENELITIAN</option>
                  <option value="220000411">TEKNIK KLASIFIKASI &amp; PENGENALAN POLA</option>
        .col-sm-1.text-left(style="padding:0")
            button.btn.btn-default Pilih
      br
      .hasil-k2.hidden
        table.table.table-striped
          tr
            td Nama
            td ABDUL FADIL, DR., M.T
          tr
            td NIP / NIY
            td 60690140
          tr 
            td Prodi
            td TEKNIK INFORMATIKA
          tr
            td Semester
            td GASAL 2015/2016
      .hasil-k2.hidden
        table.table.table-bordered
          thead
            tr
              th #
              th Kode Matakuliah
              th Matakuliah
              th Kelas
              th Tanggal Ujian
              th Tanggal Penyerahan
              th Tanggal Diserahkan
              th Aksi
          tbody
            tr
              td 1
              td 180000258
              td PENGENALAN POLA
              td A
              td 
                input(type="text")#dp1
              td 
                input(type="text")#dp2
              td 11-06-2016
              td 
                button.btn.btn-default Simpan
block script
  script(src="../../../assets/js/select2.min.js")
  script(src="../../../assets/js/moment.min.js")
  script(src="../../../assets/js/bootstrap-datetimepicker.min.js")
  script(type="text/javascript").
    $('#menu-k2').addClass('active').parent().parent().addClass('active');
    $('select').select2({width : '100%'})
    $('.hoverme').hover(function(){$(this).find('button').removeClass('hidden')},function(){$(this).find('button').addClass('hidden')})
    
    $(document).on('change','.nilai',function(){
      var elem = $(this);
      var all = elem.parent().parent().find('select');
      var x = 0;
      $.each(all,function(idx,val){
        x += parseInt($(this).val());
      });
      elem.parent().parent().find('.bijine').html('Nilai : '+x);
    });
    
    $('.tt').tooltip();
    
    $('form#form-k2').submit(function(e){
      e.preventDefault();
      $('.hasil-k2').removeClass('hidden');
    });
    
    $('form#form-k3').submit(function(e){
      e.preventDefault();
      $('.hasil-k3').removeClass('hidden');
    });
    
    $('#dp1,#dp2').datetimepicker({
      format : 'DD-MM-YYYY',
      widgetPositioning: {
          horizontal: 'left',
          vertical: 'bottom'
      }
    });
      
