html
  head
    title
      block title
    meta(content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no",name="viewport")
    link(rel="stylesheet",href="../../../assets/css/bootstrap.min.css")
    link(rel="stylesheet",href="../../../assets/css/font-awesome.min.css")
    link(rel="stylesheet",href="../../../assets/css/select2.min.css")
    link(rel="stylesheet",href="../../../assets/css/AdminLTE.min.css")
    link(rel="stylesheet",href="../../../assets/css/skins/_all-skins.min.css")
    block css
  body.hold-transition.sidebar-mini.skin-blue
    .wrapper
      header.main-header
        a(href="#").logo
          span.logo-mini
            b IKD
          span.logo-lg
            b Index Kinerja Dosen
        nav.navbar.navbar-static-top
          a(href="#",data-toggle="offcanvas",role="button")
            span.sr-only Toggle navigaton
      
      aside.main-sidebar
        section.sidebar
          block main_menu
      .content-wrapper
        section.content-header
          block content-caption
          block content-breadcrumb
          
        section.content
          block content
      footer.main-footer
        .pull-right.hidden-xs
          b Version 2.3.3
        strong
          | Copyright &copy; 2014-2015
          a(href="http://adminlte.com") adminlte
        | All rights reserved.
    block modal

    script(src="../../../assets/js/jQuery-2.2.0.min.js")
    script(src="../../../assets/js/jquery-ui.min.js")
    script
      $.widget.bridge('uibutton',$.ui.button);
    script(src="../../../assets/js/bootstrap.min.js")
    script(src="../../../assets/js/app.min.js")
    block script
          
