<div class="col-sm-12 alert alert-success hidden" id="success-alert" style="padding:15px 10px;border-radius:5px">
  <button class="pull-right close" data-dismiss="alert">&times;</button>
  <label class="label label-success">Update</label>  Akun dosen berhasil disimpan

</div>
<table class="table table-stripped table-hover" id="tb-dosen">
  <thead>
    <tr>
      <th>#</th>
      <th width="18%">NIP / NIY</th>
      <th width="45%">Nama Dosen</th>
      <th width="20%">Username</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><i class="fa fa-user"></i></td>
      <td>60140</td>
      <td>Abdul Fadlil, Dr., M.T.</td>
      <td>abdul</td>
      <td class="t-center"><span class="label label-info" data-toggle="modal" data-target="#modal-edit"><a href="http://localhost/v1/administrator/index/akun/dosen/142.html" data-toggle="tooltip" data-placement="left" title="Setting"><i class="fa fa-cog"></i> Setting</a></span> <span class="label label-danger"><a href="http://localhost/v1/administrator/index/akun/reset/142.html" data-toggle="tooltip" data-placement="right" onclick="return confirm('Anda Yakin ?');" title="Reset"><i class="fa fa-retweet"></i> Reset</a></span></td>
    </tr>


    <tr>
      <td><i class="fa fa-user"></i></td>
      <td>195501101982031004</td>
      <td>Abdul Ghofar, Drs., M.Si.</td>
      <td></td>
      <td class="t-center"><span class="label label-info"><a href="http://localhost/v1/administrator/index/akun/dosen/281.html" data-toggle="tooltip" data-placement="left" title="Setting"><i class="fa fa-cog"></i> Setting</a></span> <span class="label label-danger"><a href="http://localhost/v1/administrator/index/akun/reset/281.html" data-toggle="tooltip" data-placement="right" onclick="return confirm('Anda Yakin ?');" title="Reset"><i class="fa fa-retweet"></i> Reset</a></span></td>
    </tr>


    <tr>
      <td><i class="fa fa-user"></i></td>
      <td>60150841</td>
      <td>Adhi Prahara, S.Si., M.Cs.</td>
      <td></td>
      <td class="t-center"><span class="label label-info"><a href="http://localhost/v1/administrator/index/akun/dosen/293.html" data-toggle="tooltip" data-placement="left" title="Setting"><i class="fa fa-cog"></i> Setting</a></span> <span class="label label-danger"><a href="http://localhost/v1/administrator/index/akun/reset/293.html" data-toggle="tooltip" data-placement="right" onclick="return confirm('Anda Yakin ?');" title="Reset"><i class="fa fa-retweet"></i> Reset</a></span></td>
    </tr>


    <tr>
      <td><i class="fa fa-user"></i></td>
      <td>60030472</td>
      <td>Afan Kurniawan, S.T., M.T.</td>
      <td></td>
      <td class="t-center"><span class="label label-info"><a href="http://localhost/v1/administrator/index/akun/dosen/185.html" data-toggle="tooltip" data-placement="left" title="Setting"><i class="fa fa-cog"></i> Setting</a></span> <span class="label label-danger"><a href="http://localhost/v1/administrator/index/akun/reset/185.html" data-toggle="tooltip" data-placement="right" onclick="return confirm('Anda Yakin ?');" title="Reset"><i class="fa fa-retweet"></i> Reset</a></span></td>
    </tr>


    <tr>
      <td><i class="fa fa-user"></i></td>
      <td>60040507</td>
      <td>Agung Kristanto, S.T., M.T.</td>
      <td>agungkristanto</td>
      <td class="t-center"><span class="label label-info"><a href="http://localhost/v1/administrator/index/akun/dosen/183.html" data-toggle="tooltip" data-placement="left" title="Setting"><i class="fa fa-cog"></i> Setting</a></span> <span class="label label-danger"><a href="http://localhost/v1/administrator/index/akun/reset/183.html" data-toggle="tooltip" data-placement="right" onclick="return confirm('Anda Yakin ?');" title="Reset"><i class="fa fa-retweet"></i> Reset</a></span></td>
    </tr>


    <tr>
      <td><i class="fa fa-user"></i></td>
      <td>60150844</td>
      <td>Agus Aktawan, S.T., M.Eng.</td>
      <td>60150844</td>
      <td class="t-center"><span class="label label-info"><a href="http://localhost/v1/administrator/index/akun/dosen/302.html" data-toggle="tooltip" data-placement="left" title="Setting"><i class="fa fa-cog"></i> Setting</a></span> <span class="label label-danger"><a href="http://localhost/v1/administrator/index/akun/reset/302.html" data-toggle="tooltip" data-placement="right" onclick="return confirm('Anda Yakin ?');" title="Reset"><i class="fa fa-retweet"></i> Reset</a></span></td>
    </tr>


    <tr>
      <td><i class="fa fa-user"></i></td>
      <td>08122782322</td>
      <td>Ahmad Arif Rifan, S.Ag., M.SI.</td>
      <td></td>
      <td class="t-center"><span class="label label-info"><a href="http://localhost/v1/administrator/index/akun/dosen/299.html" data-toggle="tooltip" data-placement="left" title="Setting"><i class="fa fa-cog"></i> Setting</a></span> <span class="label label-danger"><a href="http://localhost/v1/administrator/index/akun/reset/299.html" data-toggle="tooltip" data-placement="right" onclick="return confirm('Anda Yakin ?');" title="Reset"><i class="fa fa-retweet"></i> Reset</a></span></td>
    </tr>


    <tr>
      <td><i class="fa fa-user"></i></td>
      <td>1802202</td>
      <td>Ahmad Hanany Naseh, Drs., M.A.</td>
      <td></td>
      <td class="t-center"><span class="label label-info"><a href="http://localhost/v1/administrator/index/akun/dosen/276.html" data-toggle="tooltip" data-placement="left" title="Setting"><i class="fa fa-cog"></i> Setting</a></span> <span class="label label-danger"><a href="http://localhost/v1/administrator/index/akun/reset/276.html" data-toggle="tooltip" data-placement="right" onclick="return confirm('Anda Yakin ?');" title="Reset"><i class="fa fa-retweet"></i> Reset</a></span></td>
    </tr>


    <tr>
      <td><i class="fa fa-user"></i></td>
      <td>111</td>
      <td>Al Qurani</td>
      <td></td>
      <td class="t-center"><span class="label label-info"><a href="http://localhost/v1/administrator/index/akun/dosen/240.html" data-toggle="tooltip" data-placement="left" title="Setting"><i class="fa fa-cog"></i> Setting</a></span> <span class="label label-danger"><a href="http://localhost/v1/administrator/index/akun/reset/240.html" data-toggle="tooltip" data-placement="right" onclick="return confirm('Anda Yakin ?');" title="Reset"><i class="fa fa-retweet"></i> Reset</a></span></td>
    </tr>


    <tr>
      <td><i class="fa fa-user"></i></td>
      <td>132312583</td>
      <td>Ali Tarmuji, S.T., M.Cs.</td>
      <td>132312583</td>
      <td class="t-center"><span class="label label-info"><a href="http://localhost/v1/administrator/index/akun/dosen/137.html" data-toggle="tooltip" data-placement="left" title="Setting"><i class="fa fa-cog"></i> Setting</a></span> <span class="label label-danger"><a href="http://localhost/v1/administrator/index/akun/reset/137.html" data-toggle="tooltip" data-placement="right" onclick="return confirm('Anda Yakin ?');" title="Reset"><i class="fa fa-retweet"></i> Reset</a></span></td>
    </tr>


    <tr>
      <td><i class="fa fa-user"></i></td>
      <td>60110647</td>
      <td>Ana Hendri Soleliza Jones, S.Kom</td>
      <td>60110647</td>
      <td class="t-center"><span class="label label-info"><a href="http://localhost/v1/administrator/index/akun/dosen/144.html" data-toggle="tooltip" data-placement="left" title="Setting"><i class="fa fa-cog"></i> Setting</a></span> <span class="label label-danger"><a href="http://localhost/v1/administrator/index/akun/reset/144.html" data-toggle="tooltip" data-placement="right" onclick="return confirm('Anda Yakin ?');" title="Reset"><i class="fa fa-retweet"></i> Reset</a></span></td>
    </tr>


    <tr>
      <td><i class="fa fa-user"></i></td>
      <td>082138159932</td>
      <td>Anas Warid, S.S.</td>
      <td></td>
      <td class="t-center"><span class="label label-info"><a href="http://localhost/v1/administrator/index/akun/dosen/173.html" data-toggle="tooltip" data-placement="left" title="Setting"><i class="fa fa-cog"></i> Setting</a></span> <span class="label label-danger"><a href="http://localhost/v1/administrator/index/akun/reset/173.html" data-toggle="tooltip" data-placement="right" onclick="return confirm('Anda Yakin ?');" title="Reset"><i class="fa fa-retweet"></i> Reset</a></span></td>
    </tr>


    <tr>
      <td><i class="fa fa-user"></i></td>
      <td>60130757</td>
      <td>Andri Pranolo, S.Kom., M.Cs.</td>
      <td>60130757</td>
      <td class="t-center"><span class="label label-info"><a href="http://localhost/v1/administrator/index/akun/dosen/255.html" data-toggle="tooltip" data-placement="left" title="Setting"><i class="fa fa-cog"></i> Setting</a></span> <span class="label label-danger"><a href="http://localhost/v1/administrator/index/akun/reset/255.html" data-toggle="tooltip" data-placement="right" onclick="return confirm('Anda Yakin ?');" title="Reset"><i class="fa fa-retweet"></i> Reset</a></span></td>
    </tr>


    <tr>
      <td><i class="fa fa-user"></i></td>
      <td>60140767</td>
      <td>Anggit Prabowo, M.Pd.</td>
      <td></td>
      <td class="t-center"><span class="label label-info"><a href="http://localhost/v1/administrator/index/akun/dosen/271.html" data-toggle="tooltip" data-placement="left" title="Setting"><i class="fa fa-cog"></i> Setting</a></span> <span class="label label-danger"><a href="http://localhost/v1/administrator/index/akun/reset/271.html" data-toggle="tooltip" data-placement="right" onclick="return confirm('Anda Yakin ?');" title="Reset"><i class="fa fa-retweet"></i> Reset</a></span></td>
    </tr>


    <tr>
      <td><i class="fa fa-user"></i></td>
      <td>60910092</td>
      <td>Ani Yuliati, Dra., M.Hum</td>
      <td></td>
      <td class="t-center"><span class="label label-info"><a href="http://localhost/v1/administrator/index/akun/dosen/109.html" data-toggle="tooltip" data-placement="left" title="Setting"><i class="fa fa-cog"></i> Setting</a></span> <span class="label label-danger"><a href="http://localhost/v1/administrator/index/akun/reset/109.html" data-toggle="tooltip" data-placement="right" onclick="return confirm('Anda Yakin ?');" title="Reset"><i class="fa fa-retweet"></i> Reset</a></span></td>
    </tr>


    <tr>
      <td><i class="fa fa-user"></i></td>
      <td>08174122475</td>
      <td>Anis Asriati, S.S.</td>
      <td></td>
      <td class="t-center"><span class="label label-info"><a href="http://localhost/v1/administrator/index/akun/dosen/215.html" data-toggle="tooltip" data-placement="left" title="Setting"><i class="fa fa-cog"></i> Setting</a></span> <span class="label label-danger"><a href="http://localhost/v1/administrator/index/akun/reset/215.html" data-toggle="tooltip" data-placement="right" onclick="return confirm('Anda Yakin ?');" title="Reset"><i class="fa fa-retweet"></i> Reset</a></span></td>
    </tr>


    <tr>
      <td><i class="fa fa-user"></i></td>
      <td>60960128</td>
      <td>Annie Purwani, STP., M.T.</td>
      <td>anniepurwani</td>
      <td class="t-center"><span class="label label-info"><a href="http://localhost/v1/administrator/index/akun/dosen/188.html" data-toggle="tooltip" data-placement="left" title="Setting"><i class="fa fa-cog"></i> Setting</a></span> <span class="label label-danger"><a href="http://localhost/v1/administrator/index/akun/reset/188.html" data-toggle="tooltip" data-placement="right" onclick="return confirm('Anda Yakin ?');" title="Reset"><i class="fa fa-retweet"></i> Reset</a></span></td>
    </tr>


    <tr>
      <td><i class="fa fa-user"></i></td>
      <td>197911172003122002</td>
      <td>Anom Wahyu Prasetyojati, S.H., M.H.</td>
      <td></td>
      <td class="t-center"><span class="label label-info"><a href="http://localhost/v1/administrator/index/akun/dosen/241.html" data-toggle="tooltip" data-placement="left" title="Setting"><i class="fa fa-cog"></i> Setting</a></span> <span class="label label-danger"><a href="http://localhost/v1/administrator/index/akun/reset/241.html" data-toggle="tooltip" data-placement="right" onclick="return confirm('Anda Yakin ?');" title="Reset"><i class="fa fa-retweet"></i> Reset</a></span></td>
    </tr>


    <tr>
      <td><i class="fa fa-user"></i></td>
      <td>60010383</td>
      <td>Anton Yudhana, S.T., M.T., Ph.D.</td>
      <td>eyudhana</td>
      <td class="t-center"><span class="label label-info"><a href="http://localhost/v1/administrator/index/akun/dosen/129.html" data-toggle="tooltip" data-placement="left" title="Setting"><i class="fa fa-cog"></i> Setting</a></span> <span class="label label-danger"><a href="http://localhost/v1/administrator/index/akun/reset/129.html" data-toggle="tooltip" data-placement="right" onclick="return confirm('Anda Yakin ?');" title="Reset"><i class="fa fa-retweet"></i> Reset</a></span></td>
    </tr>


    <tr>
      <td><i class="fa fa-user"></i></td>
      <td>60010347</td>
      <td>Anwaruddin Hisyam, S.T., M.Sc.</td>
      <td></td>
      <td class="t-center"><span class="label label-info"><a href="http://localhost/v1/administrator/index/akun/dosen/207.html" data-toggle="tooltip" data-placement="left" title="Setting"><i class="fa fa-cog"></i> Setting</a></span> <span class="label label-danger"><a href="http://localhost/v1/administrator/index/akun/reset/207.html" data-toggle="tooltip" data-placement="right" onclick="return confirm('Anda Yakin ?');" title="Reset"><i class="fa fa-retweet"></i> Reset</a></span></td>
    </tr>


  </tbody>
</table>
